:root {
    
    
}

body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 20px;
    font-size: 22px;
    font-optical-sizing: auto;
    background-color: (var(background-color));
    font-style: normal;
}


h1 {
    font-size: 2.5em;
}

.special-headline {
    font-weight: 900;
    color: indigo;
}

#unique-headline {
    font-weight: 300;
    color: deeppink;
}

h2, h3, h4 {
    font-size: 2em;
    font-weight: 300;
    color: darkgreen;
}

.post {
    border: 3px solid black;
    margin-bottom: 20em;
    padding: 10em 20em 10em 20em;
    
    .img-container {
        aspect-ratio: 3/2;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.highlight {
    background-color: black;
    color: white;
    h2{
        color:rgb(81, 201, 81);
    }
}

/* Lab 2 Styles */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

